/* left side */

html,body{
    display:flex;
    margin:0px;
    padding:0px;
}

.header{
    border-right:5px solid black;
    border-left:5px solid black;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

}

.headshot{
    border-radius:50%;
    height:200px;
    width:200px;
}

h4{
    font-size: x-large;
}

/* Header */
.firstBlock{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:50px;    

}
.headerText{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding:10px;
}
.name{
    font-weight:bolder;
    font-size: 30px;
}

/* Table of Contents */
.tableOfContents{
    display:flex;
    flex-direction: column;
    font-weight: bold;

}
button{
    padding: 10px 15px 10px 15px;
    text-align: left;
}

.home,
.about,
.experience,
.portfolio,
.blog {
    display: flex;
    gap:20px;
    align-items: center;
    background-color: white;
    border:none;
    font-size:16px;
    cursor:pointer;
    opacity:0.6;
    transition: 0.3s;
}
.home:hover{opacity:1; background-color:lightblue;}
.about:hover{opacity:1; background-color:lightblue;}
.experience:hover{opacity:1; background-color:lightblue;}
.portfolio:hover{opacity:1; background-color:lightblue;}
.blog:hover{opacity:1; background-color:lightblue;}

/* Home */

/* Footer */
.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom:0;
    padding:30px 30px 10px 30px;
    margin-left:27px;
}
.socialMedia{
    display:flex;
    gap:15px;
    padding:15px;
}
.footNote{
text-align: center;
}

/* Place Holder Content */